# **Introdução ao Pandas**

Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. 

Series: arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado.

Data Frames: estruturas de dados tabulares bidimensionais com rótulos nas linhas e colunas. Assim como as series, os dataframes são capazes de armazenar qualquer tipo de dado.

In [1]:
# Importando o pacote Pandas
import pandas as pd

In [ ]:
# Importando uma base de dados
dados = pd.read_csv('goalkeeping.csv')
# dados = pd.read_csv('goalkeeping.csv', index_col='player_name')
dados

Informações Gerais da base de dados

In [10]:
# Tamanho da base
dados.shape

(53, 10)

In [11]:
# Primeiras linhas
dados.head()

,serial,player_name,club,position,saved,conceded,saved_penalties,cleansheets,punches made,match_played
0,1,Courtois,Real Madrid,Goalkeeper,61,14,1,5,4,13
1,2,Rulli,Villarreal,Goalkeeper,41,16,0,3,12,12
2,3,Vlachodimos,Benfica,Goalkeeper,38,17,1,5,5,10
3,4,Athanasiadis,Sheriff,Goalkeeper,29,8,0,1,2,5
4,5,Mignolet,Club Brugge,Goalkeeper,28,20,0,0,1,6

In [12]:
# Últimas linhas
dados.tail()

,serial,player_name,club,position,saved,conceded,saved_penalties,cleansheets,punches made,match_played
48,46,Martínez,Leipzig,Goalkeeper,3,0,0,1,0,1
49,50,Onana,Ajax,Goalkeeper,2,2,0,0,0,2
50,50,Perin,Juventus,Goalkeeper,2,0,0,1,0,1
51,52,Shevchenko,Shakhtar Donetsk,Goalkeeper,1,1,0,0,0,1
52,52,Carson,Man. City,Goalkeeper,1,0,0,1,0,1

In [13]:
# Acessando colunas (como Serie):
dados['club']

0          Real Madrid
1           Villarreal
2              Benfica
3              Sheriff
4          Club Brugge
5             Atlético
6             Atalanta
7             Beşiktaş
8          Man. United
9                Malmö
10               Porto
11    Shakhtar Donetsk
12           Wolfsburg
13               Paris
14         Sporting CP
15            Salzburg
16           Barcelona
17           Liverpool
18           Man. City
19            Dortmund
20            Juventus
21               Milan
22              Bayern
23             Sevilla
24         Dynamo Kyiv
25                Ajax
26               Malmö
27                LOSC
28               Inter
29               Zenit
30          Young Boys
31             Leipzig
32               Paris
33             Chelsea
34          Young Boys
35               Milan
36             Sheriff
37               Zenit
38    Shakhtar Donetsk
39           Wolfsburg
40                LOSC
41             Chelsea
42            Beşiktaş
43              Bayern
44         Dynamo Kyiv
45         Sporting CP
46           Man. City
47         Man. United
48             Leipzig
49                Ajax
50            Juventus
51    Shakhtar Donetsk
52           Man. City
Name: club, dtype: object

In [16]:
# Acessando colunas (como Data Frame):
dados[['club', 'player_name', 'conceded']]

                club       player_name  conceded
0        Real Madrid          Courtois        14
1         Villarreal             Rulli        16
2            Benfica       Vlachodimos        17
3            Sheriff      Athanasiadis         8
4        Club Brugge          Mignolet        20
5           Atlético             Oblak        10
6           Atalanta             Musso        13
7           Beşiktaş  Ersin Destanoğlu        17
8        Man. United            De Gea         9
9              Malmö            Dahlin         8
10             Porto       Diogo Costa        11
11  Shakhtar Donetsk            Trubin         9
12         Wolfsburg          Casteels         8
13             Paris        Donnarumma         6
14       Sporting CP              Adán        13
15          Salzburg              Köhn        14
16         Barcelona        Ter Stegen         9
17         Liverpool    Alisson Becker        14
18         Man. City           Ederson        14
19          Dortmund             Kobel        11
20          Juventus          Szczęsny        10
21             Milan           Maignan         7
22            Bayern             Neuer         6
23           Sevilla            Bounou         5
24       Dynamo Kyiv          Bushchan        11
25              Ajax           Pasveer         6
26             Malmö           Diawara         6
27              LOSC             Grbić         4
28             Inter        Handanovič         7
29             Zenit          Kritsyuk         6
30        Young Boys            Faivre         6
31           Leipzig           Gulácsi        14
32             Paris             Navas         5
33           Chelsea             Mendy         7
34        Young Boys      Von Ballmoos         6
35             Milan        Tătăruşanu         2
36           Sheriff         Celeadnic         3
37             Zenit      M. Kerzhakov         4
38  Shakhtar Donetsk            Pyatov         2
39         Wolfsburg            Pervan         2
40              LOSC        Leo Jardim         4
41           Chelsea              Kepa         3
42          Beşiktaş             Günok         2
43            Bayern           Ulreich         1
44       Dynamo Kyiv             Boyko         0
45       Sporting CP     João Virginia         4
46         Man. City           Steffen         2
47       Man. United         Henderson         1
48           Leipzig          Martínez         0
49              Ajax             Onana         2
50          Juventus             Perin         0
51  Shakhtar Donetsk        Shevchenko         1
52         Man. City            Carson         0

In [17]:
# Selecionando linhas (slicing):
dados[19:30]

,serial,player_name,club,position,saved,conceded,saved_penalties,cleansheets,punches made,match_played
19,19,Kobel,Dortmund,Goalkeeper,14,11,1,2,1,6
20,19,Szczęsny,Juventus,Goalkeeper,14,10,0,3,3,7
21,19,Maignan,Milan,Goalkeeper,14,7,1,0,1,3
22,19,Neuer,Bayern,Goalkeeper,14,6,0,4,1,9
23,19,Bounou,Sevilla,Goalkeeper,14,5,0,2,1,6
24,25,Bushchan,Dynamo Kyiv,Goalkeeper,13,11,0,0,4,5
25,25,Pasveer,Ajax,Goalkeeper,13,6,0,2,2,6
26,25,Diawara,Malmö,Goalkeeper,13,6,0,0,1,3
27,25,Grbić,LOSC,Goalkeeper,13,4,0,3,1,6
28,29,Handanovič,Inter,Goalkeeper,12,7,0,3,5,8
29,29,Kritsyuk,Zenit,Goalkeeper,12,6,0,1,10,4

In [21]:
# Alterando a ordem das colunas:
# Exemplo: Trocando 'club' e 'position'.
dados1 = dados[['serial',	'player_name',	'position',	'club',	'saved',	'conceded',	'saved_penalties',	'cleansheets',	'punches made',	'match_played']]

In [22]:
dados1.head()

,serial,player_name,position,club,saved,conceded,saved_penalties,cleansheets,punches made,match_played
0,1,Courtois,Goalkeeper,Real Madrid,61,14,1,5,4,13
1,2,Rulli,Goalkeeper,Villarreal,41,16,0,3,12,12
2,3,Vlachodimos,Goalkeeper,Benfica,38,17,1,5,5,10
3,4,Athanasiadis,Goalkeeper,Sheriff,29,8,0,1,2,5
4,5,Mignolet,Goalkeeper,Club Brugge,28,20,0,0,1,6

In [ ]:
# Removendo colunas ('chave', axis=1):
dados1 = dados1.drop(columns=['punches made'])
dados1

In [30]:
dados1 = dados1.drop('cleansheets', axis=1)
dados1

,serial,player_name,position,club,saved,conceded,saved_penalties,match_played
0,1,Courtois,Goalkeeper,Real Madrid,61,14,1,13
1,2,Rulli,Goalkeeper,Villarreal,41,16,0,12
2,3,Vlachodimos,Goalkeeper,Benfica,38,17,1,10
3,4,Athanasiadis,Goalkeeper,Sheriff,29,8,0,5
4,5,Mignolet,Goalkeeper,Club Brugge,28,20,0,6
5,6,Oblak,Goalkeeper,Atlético,26,10,0,10
6,7,Musso,Goalkeeper,Atalanta,21,13,0,6
7,8,Ersin Destanoğlu,Goalkeeper,Beşiktaş,20,17,0,5
8,9,De Gea,Goalkeeper,Man. United,19,9,0,7
9,9,Dahlin,Goalkeeper,Malmö,19,8,1,4
10,11,Diogo Costa,Goalkeeper,Porto,18,11,0,6
11,11,Trubin,Goalkeeper,Shakhtar Donetsk,18,9,0,3
12,11,Casteels,Goalkeeper,Wolfsburg,18,8,0,5
13,11,Donnarumma,Goalkeeper,Paris,18,6,1,5
14,15,Adán,Goalkeeper,Sporting CP,17,13,0,7
15,16,Köhn,Goalkeeper,Salzburg,16,14,0,8
16,16,Ter Stegen,Goalkeeper,Barcelona,16,9,0,6
17,18,Alisson Becker,Goalkeeper,Liverpool,15,14,0,13
18,19,Ederson,Goalkeeper,Man. City,14,14,0,11
19,19,Kobel,Goalkeeper,Dortmund,14,11,1,6
20,19,Szczęsny,Goalkeeper,Juventus,14,10,0,7
21,19,Maignan,Goalkeeper,Milan,14,7,1,3
22,19,Neuer,Goalkeeper,Bayern,14,6,0,9
23,19,Bounou,Goalkeeper,Sevilla,14,5,0,6
24,25,Bushchan,Goalkeeper,Dynamo Kyiv,13,11,0,5
25,25,Pasveer,Goalkeeper,Ajax,13,6,0,6
26,25,Diawara,Goalkeeper,Malmö,13,6,0,3
27,25,Grbić,Goalkeeper,LOSC,13,4,0,6
28,29,Handanovič,Goalkeeper,Inter,12,7,0,8
29,29,Kritsyuk,Goalkeeper,Zenit,12,6,0,4
30,29,Faivre,Goalkeeper,Young Boys,12,6,0,3
31,32,Gulácsi,Goalkeeper,Leipzig,11,14,0,5
32,32,Navas,Goalkeeper,Paris,11,5,0,3
33,34,Mendy,Goalkeeper,Chelsea,9,7,0,9
34,34,Von Ballmoos,Goalkeeper,Young Boys,9,6,0,3
35,36,Tătăruşanu,Goalkeeper,Milan,8,2,0,3
36,37,Celeadnic,Goalkeeper,Sheriff,6,3,0,1
37,38,M. Kerzhakov,Goalkeeper,Zenit,5,4,0,2
38,38,Pyatov,Goalkeeper,Shakhtar Donetsk,5,2,0,3
39,38,Pervan,Goalkeeper,Wolfsburg,5,2,0,1
40,41,Leo Jardim,Goalkeeper,LOSC,4,4,0,2
41,41,Kepa,Goalkeeper,Chelsea,4,3,0,1
42,41,Günok,Goalkeeper,Beşiktaş,4,2,0,1
43,41,Ulreich,Goalkeeper,Bayern,4,1,0,1
44,41,Boyko,Goalkeeper,Dynamo Kyiv,4,0,0,1
45,46,João Virginia,Goalkeeper,Sporting CP,3,4,0,1
46,46,Steffen,Goalkeeper,Man. City,3,2,0,1
47,46,Henderson,Goalkeeper,Man. United,3,1,0,1
48,46,Martínez,Goalkeeper,Leipzig,3,0,0,1
49,50,Onana,Goalkeeper,Ajax,2,2,0,2
50,50,Perin,Goalkeeper,Juventus,2,0,0,1
51,52,Shevchenko,Goalkeeper,Shakhtar Donetsk,1,1,0,1
52,52,Carson,Goalkeeper,Man. City,1,0,0,1

In [ ]:
# Selecionando linhas e colunas com o .loc:

In [ ]:
# Selecionando todas as linhas e algumas colunas:

In [ ]:
# Selecionando linhas com o .iloc